.centerSideWrapper {
    /* flex-basis: 538px; */
    min-width: 538px;
    padding: 25px 30px;
    background-color: #F5F5FC;
    
}

.centerSideList {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 15px;

}


