.centerSideWrapper {
    flex-basis: 538px;
    background-color: #F5F5FC;
    border-right: 1px solid #E4E6F1;
    
}

.centerSideList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    gap: 15px;

}
