.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    position: relative;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover{
background-color: #D9E7FF;
}
.item:active {
    background-color: #D9E7FF;
}

.elementEditor{
    display: flex;
    align-items: center;
    min-height: 27px;
    gap: 5px;
    position: absolute;
    top:-27px;
    right: 4px;
}

.upDownWrapper{
    display: flex;
    padding: 3px;
    background-color: #449CF4;
    border-radius: 3px 3px 0px 0px;
}
.btnUp{
    
    display: flex;
    padding: 3px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    transform: rotate(180deg);
}
.btnDown{

    display: flex;
            padding: 3px;
        align-items: center;
    background: transparent;
    border: none;
    outline: none;
    
}
.editDeleteWrapper{
    
    display: flex;
    padding: 3px;
    background-color: #68C2E9;
        border-radius: 3px 3px 0px 0px;
}
.btnEdit {
    
    display: flex;
        border-radius: 3px;
            padding: 3px;
    align-items: center;
    background-color: #4B97B8;
    border: none;
    outline: none;
    transform: rotate(180deg);
}

.btnDelete {
    
    display: flex;
            padding: 3px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;

}
.inputLabel{
    width: 100%;
    padding: 5px;
border-radius: 2px;
background-color: #FFF;
    box-shadow: 0px 64px 64px rgba(211, 214, 215, 0.2), 0px 32px 32px rgba(211, 214, 215, 0.2), 0px 16px 16px rgba(211, 214, 215, 0.2), 0px 4px 4px rgba(211, 214, 215, 0.2), 0px 2px 2px rgba(211, 214, 215, 0.2);
        
}

.input{
    width: 100%;
    height: 28px;
    font-size: 11px;
    border: 1px solid #E4E6F1;
        border-radius: 2px;
    outline: none;
}