
.leftSideWrapper {
min-width: 270px;
padding: 30px;
}

.leftSideList {
    display: flex;
        align-content: center;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
                
}

.item {
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
    width: 100px;
    height: 83px;
    background-color: #f6f9fe;
    border-radius: 6px;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.item:hover{
    background-color: #D9E7FF;
}
.item:active {
    background-color: #D9E7FF;
}

