.rightSideWrapper {
    /* flex-basis: 632px; */
    min-width: 632px;
    padding: 30px;
}

.rightSideList {
display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    
    gap: 30px;
}