
.rightSideList {
display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;

}

.headline{
font-weight: 700;
font-size: 22px;
}
.paragraph{
    color: #97AACD;
    font-size: 14px;
    text-align: center;
        
}
.regButton{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.45;
    color: #F6F9FE;
    padding: 10px 30px;
    background: #4368E0;
    border-radius: 4px;
    outline: none;
    border: none;
                transition-property: background-color;
                    transition-duration: 150ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regButton:active {
    background-color: #D9E7FF;
}