@import-normalize;/*bring in normalize.css styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{box-sizing: border-box;}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

body {
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  /* or 171% */
  letter-spacing: 0.02em;

  color: #252A32;
  background-color: #fff;
  margin: 0;
  
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active { 
  background-color: #D9E7FF;
}